@import '~antd/dist/antd.css';

html, body, #root, .ant-layout {
  height: 100%;
}

body {
  font-size: 16px;
}

/* Específicos */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.ant-menu-item > a {
  display: inline-block;
}

.content {
  padding: 30px;
}

.content-body {
  padding: 30px;
  background: #ffffff;
  max-height: calc(100vh - (30px * 2));
  overflow: auto;
  height: 100vh;
  position: relative;
}

.toolbar-area {
  margin-bottom: 15px;
}

.text-align-right {
  text-align: right;
}


/* cards styles */

.--is-done {
  opacity: .5;
}
